@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #E0E5E9;
  z-index: 1;
}

.brand-title {
  font-size: 1.5rem;
  margin-top: 0.4rem;
  width: 10em;
}
.brand-title img {
  width: 100%;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  transition: 0.3s;
}
.navbar-links li:hover {
  background-color: #0A62D0;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #0A62D0;
  padding: 1.6rem;
  font-size: 1.2em;
}
.navbar-links li a:hover {
  color: #E0E5E9;
}

.toggle-button {
  position: absolute;
  top: 2.4em;
  right: 6%;
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #0A62D0;
  border-radius: 10px;
}

@media (max-width: 1050px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
.front-wrap {
  height: calc(100vh - 80px);
  width: 100%;
  background: url(/img/kacperbcg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.front-wrap .bcg-fogger {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #0A62D0;
  opacity: 0.2;
}

.front-txt {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 30vh;
  color: #E0E5E9;
}
.front-txt h1 {
  padding: 0.4em;
  font-size: 2.5em;
  letter-spacing: 0.4em;
  font-family: "Bebas Neue", cursive;
  color: #E0E5E9;
}
.front-txt h3 {
  padding: 1em;
  font-size: 1.4em;
}

@media (min-width: 1200px) {
  .front-txt h1 {
    font-size: 3.5em;
  }
}
.about-txt {
  width: 100%;
}
.about-txt h1 {
  margin: 2em auto;
  text-align: center;
  font-size: 1.7em;
}
.about-txt h1 .horizontal-line {
  display: block;
  margin: 0 auto;
  width: 5em;
  height: 2px;
  background-color: #0A62D0;
}
.about-txt .about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.about-txt .about-flex .about-img-wrap {
  height: 60vh;
  width: 80%;
  background: url(/img/kacperbcg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-txt .about-flex .about-img-wrap .about-face-img {
  width: 100%;
  height: 100%;
}
.about-txt .about-flex p {
  padding: 1em;
  width: 90%;
}

@media (max-width: 1200px) {
  .about-flex {
    flex-direction: column;
  }

  .about-txt h1 {
    font-size: 1.4em;
  }
}
.gallery-wraper {
  height: 40vh;
  width: 100%;
  background: url(/img/bcg-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.how-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #E0E5E9;
}

.how-header {
  font-size: 2em;
  margin-bottom: 1em;
}

.stories-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  background-color: #E0E5E9;
}

.story {
  padding: 1em;
}

.stories-header {
  margin: 1em auto;
  font-size: 2.2em;
  text-transform: uppercase;
}

.quotation-wrap {
  width: 3em;
}

.quotation-svg {
  width: 100%;
}

@media (min-width: 550px) {
  .stories-header {
    font-size: 3em;
  }

  .quotation-wrap {
    width: 4em;
  }
}
@media (min-width: 1200px) {
  .stories-header {
    font-size: 4em;
  }

  .quotation-wrap {
    width: 6em;
  }
}
.main-footer {
  background-color: #E0E5E9;
  margin-top: 2em;
}

.find-us {
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.soclink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  background-color: #0A62D0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 2.5em;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.soclink:hover {
  background-color: #F3D849;
  border: none;
}

.soclink img {
  width: 0.9em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.copyright h5 {
  margin-top: 20px;
  text-align: center;
}

.copyright img {
  width: 1em;
}

@media (min-width: 550px) {
  .soclink {
    margin: 0.6em;
    padding: 1em;
  }

  .soclink img {
    width: 1.1em;
  }

  .find-us {
    font-size: 1.5em;
  }
}
.stories-slider {
  position: relative;
  background-color: #E0E5E9;
  height: 75vh;
}
.stories-slider .stories {
  display: flex;
  flex-direction: column;
}
.stories-slider .stories .story-text {
  text-align: center;
  padding: 1em;
  font-size: 1.1em;
  margin: 0 auto;
}
.stories-slider .stories .story-author {
  text-align: center;
  color: #0A62D0;
}
.stories-slider .slider-buttons {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
}
.stories-slider .slider-buttons .vertical-line {
  display: block;
  margin-top: 5px;
  width: 2px;
  height: 60px;
  background-color: #F3D849;
}
.stories-slider .slider-buttons .slider-button {
  border: solid #0A62D0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}
.stories-slider .slider-buttons .disabled-btn {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
.stories-slider .slider-buttons .slider-button-prev {
  transform: rotate(135deg);
}
.stories-slider .slider-buttons .slider-button-next {
  transform: rotate(-45deg);
}

@media (min-width: 550px) {
  .stories-slider {
    height: 40vh;
  }

  .story-text {
    font-size: 1.1em;
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .stories-slider {
    height: 40vh;
  }

  .story-text {
    width: 60vw;
    font-size: 1.3em;
  }
}
@media (min-width: 1700px) {
  .stories-slider {
    height: 35vh;
  }

  .story-author {
    font-size: 1.7em;
  }
}
.standard-btn {
  width: 50%;
  max-width: 300px;
  padding: 0.8em;
  margin-top: 1.5em;
  align-self: center;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  color: #E0E5E9;
  background-color: #0A62D0;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.standard-btn:hover {
  opacity: 1;
  width: 55%;
}