@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #E0E5E9;
  height: 75px;
  width: 101vw;
  z-index: 2;
  top: 0;
  left: 0;
}

.navbar-links {
  display: block;
  list-style: none;
  position: absolute;
  top: 75px;
  left: calc(-100vw - 40px);
  width: 80vw;
  transition: 0.5s;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #E0E5E9;
  z-index: 1;
  border-radius: 0 0 10px 0;
}

.navbar-links li {
  display: block;
  list-style: none;
}

.navbar-links a {
  display: block;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
  color: #0A62D0;
  transition: 0.3s;
  text-transform: uppercase;
}
.navbar-links a:hover {
  background-color: #0A62D0;
  color: #E0E5E9;
}

.brand-title {
  width: 200px;
}
.brand-title .nav-img {
  position: relative;
  top: 12px;
  left: 20px;
  width: 100%;
}

.toggle-button {
  position: absolute;
  top: 36px;
  right: 20px;
  transform: translateY(-50%);
  width: 40px;
  height: 30px;
  background-color: #E0E5E9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

.bar {
  display: block;
  height: 4px;
  background-color: #0A62D0;
  border-radius: 10px;
}

.active {
  display: flex;
  flex-direction: column;
  top: 73px;
  left: -40px;
  transition: 0.5s;
}

.front-wrap {
  margin-top: 75px;
  height: calc(100vh - 75px);
}

.front-img {
  display: block;
  width: 100%;
  height: 100%;
}

.front-txt {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 30vh;
  color: #E0E5E9;
}
.front-txt h1 {
  padding: 0.4em;
  font-size: 2em;
}
.front-txt h3 {
  padding: 1em;
  font-size: 1.4em;
}

.about-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}
.about-txt .about-h1 {
  border-bottom: 2px solid #0A62D0;
  padding: 0.3em;
}
.about-txt .about-p {
  padding: 1em;
  width: 100%;
}

.about-img-wrap {
  display: block;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  margin: 4em;
}
.about-img-wrap .about-face-img {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.how-flex {
  position: absolute;
}

.gallery-wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #E0E5E9;
  width: 100%;
  height: 45vh;
  margin-top: 3em;
}

.gallery {
  width: 100%;
  height: 100%;
}

.how-header {
  font-size: 2em;
  margin-bottom: 1em;
}

.stories-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.story {
  padding: 1em;
}

.stories-header {
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin-top: 2em;
}

.quotation-wrap {
  width: 3em;
  margin: 2em 0 2em 0;
}

.quotation-svg {
  width: 100%;
}

.main-footer {
  background-color: #E0E5E9;
  height: 30vh;
}

.find-us {
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.soclink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  border: 2px solid #0A62D0;
  background-color: #0A62D0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 2.5em;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.soclink:hover {
  background-color: #F3D849;
  border: none;
}

.soclink img {
  width: 0.9em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.copyright h5 {
  margin-top: 20px;
  text-align: center;
}

.copyright img {
  width: 1em;
}

.stories-slider {
  position: relative;
  background-color: #E0E5E9;
  height: 55vh;
}
.stories-slider .stories {
  display: flex;
  flex-direction: column;
}
.stories-slider .stories .story-text {
  text-align: center;
  padding: 1em;
}
.stories-slider .stories .story-author {
  text-align: center;
}
.stories-slider .slider-buttons {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
}
.stories-slider .slider-buttons .vertical-line {
  display: block;
  margin-top: 5px;
  width: 2px;
  height: 60px;
  background-color: #F3D849;
}
.stories-slider .slider-buttons .slider-button {
  border: solid #0A62D0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}
.stories-slider .slider-buttons .disabled-btn {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
.stories-slider .slider-buttons .slider-button-prev {
  transform: rotate(135deg);
}
.stories-slider .slider-buttons .slider-button-next {
  transform: rotate(-45deg);
}

.standard-btn {
  width: 50%;
  padding: 0.8em;
  margin-top: 1.5em;
  align-self: center;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  color: #E0E5E9;
  background-color: #0A62D0;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.standard-btn:hover {
  opacity: 1;
  width: 55%;
}