@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.9em;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #0A62D0;
}
.navbar .logo {
  height: 70px;
}
.navbar .logo .logo__img {
  height: 100%;
}
.navbar .navbar__list {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.navbar .navbar__list .navbar__item {
  list-style: none;
}
.navbar .navbar__list .navbar__item .navbar__link {
  text-decoration: none;
  color: #E0E5E9;
  letter-spacing: 2px;
  font-size: 1.1em;
}
.navbar .burger {
  display: none;
}
.navbar .burger .burger__line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #E0E5E9;
}

@media (max-width: 800px) {
  .navbar .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #0A62D0;
    transform: translateX(100%);
  }
  .navbar .navbar__list .navbar__item {
    opacity: 0;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
  }
}
.navbar__list--active {
  transform: translateX(0%);
}

@media (max-width: 1200px) {
  .navbar .navbar__list {
    width: 70%;
  }
}
.front-wrap {
  height: calc(100vh - 70px);
  width: 100%;
  background: url(/img/kacperbcg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.front-wrap .bcg-fogger {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #0A62D0;
  opacity: 0.2;
}

.front-txt {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 30vh;
  color: #E0E5E9;
}
.front-txt h1 {
  padding: 0.4em;
  font-size: 2.5em;
  letter-spacing: 0.4em;
  font-family: "Bebas Neue", cursive;
  color: #E0E5E9;
}
.front-txt h3 {
  padding: 1em;
  font-size: 1.4em;
}

@media (min-width: 1200px) {
  .front-txt h1 {
    font-size: 3.5em;
  }
}
.about-txt {
  width: 100%;
}
.about-txt h1 {
  margin: 2em auto;
  text-align: center;
  font-size: 1.9em;
}
.about-txt h1 .horizontal-line {
  display: block;
  margin: 0 auto;
  width: 5em;
  height: 2px;
  background-color: #0A62D0;
}
.about-txt .about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.about-txt .about-flex .about-img-wrap {
  margin: 2em auto;
  height: 60vh;
  width: 80%;
  background: url(/img/kacperbcg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-txt .about-flex .about-img-wrap .about-face-img {
  width: 100%;
  height: 100%;
}
.about-txt .about-flex p {
  font-size: 1.1em;
  text-align: center;
  padding: 1em;
  width: 90%;
}

@media (max-width: 1200px) {
  .about-flex {
    flex-direction: column;
  }

  .about-txt h1 {
    font-size: 1.4em;
  }
}
.gallery-wraper {
  height: 40vh;
  width: 100%;
  background: url(/img/bcg-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.how-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #E0E5E9;
}
.how-flex h1 {
  font-size: 1.8em;
}

.how-header {
  font-size: 2em;
  margin-bottom: 1em;
}

.stories-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.story {
  padding: 1em;
}

.stories-header {
  margin: 1em auto;
  font-size: 1.7em;
  text-transform: uppercase;
}

.quotation-wrap {
  width: 3em;
}

.quotation-svg {
  width: 100%;
}

@media (min-width: 550px) {
  .stories-header {
    font-size: 2.5em;
  }

  .quotation-wrap {
    width: 2.5em;
  }
}
@media (min-width: 1200px) {
  .stories-header {
    font-size: 3em;
  }

  .quotation-wrap {
    width: 3.3em;
  }
}
.main-footer {
  margin-top: 4em;
  background-color: #0A62D0;
}

.find-us {
  text-align: center;
  padding-top: 20px;
  color: #E0E5E9;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.soclink {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  background-color: #E0E5E9;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 2.5em;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.soclink:hover {
  background-color: #F3D849;
  border: none;
}

.soclink img {
  width: 0.9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright h5 {
  margin-top: 20px;
  text-align: center;
}

.copyright img {
  width: 1em;
}

.stories-slider {
  position: relative;
  height: 77vh;
}
.stories-slider .stories {
  display: flex;
  flex-direction: column;
}
.stories-slider .stories .story-text {
  text-align: center;
  padding: 1em;
  font-size: 1.1em;
  margin: 0 auto;
}
.stories-slider .stories .story-author {
  text-align: center;
  color: #0A62D0;
}
.stories-slider .slider-buttons {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
}
.stories-slider .slider-buttons .vertical-line {
  display: block;
  margin-top: 5px;
  width: 2px;
  height: 60px;
  background-color: #F3D849;
}
.stories-slider .slider-buttons .slider-button {
  border: solid #0A62D0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}
.stories-slider .slider-buttons .disabled-btn {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
.stories-slider .slider-buttons .slider-button-prev {
  transform: rotate(135deg);
}
.stories-slider .slider-buttons .slider-button-next {
  transform: rotate(-45deg);
}

@media (min-width: 550px) {
  .stories-slider {
    height: 70vh;
  }

  .story-text {
    font-size: 1.1em;
    width: 80vw;
  }
}
@media (min-width: 850px) {
  .stories-slider {
    height: 60vh;
  }
}
@media (min-width: 1200px) {
  .stories-slider {
    height: 48vh;
  }

  .story-text {
    width: 60vw;
    font-size: 1.3em;
  }
}
@media (min-width: 1700px) {
  .stories-slider {
    height: 40vh;
  }

  .story-text {
    width: 50vw;
    font-size: 1.8em;
  }

  .story-author {
    font-size: 1.7em;
  }
}
.personal-workouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2em auto;
}
.personal-workouts .personal-workouts-header {
  font-weight: 400;
  font-size: 2.4em;
}
.personal-workouts .about-workouts {
  margin: 1em 0.5em;
}
.personal-workouts .about-workouts .about-workouts-bold {
  font-weight: 700;
  font-size: 1.2em;
  margin: 1.5em auto;
}

.single-workouts {
  text-align: center;
}

.workout-type {
  font-size: 2.2em;
  font-weight: 500;
  margin: 1em auto;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 550px) {
  .about-workouts {
    width: 70vw;
  }
}
@media (min-width: 1200px) {
  .about-workouts {
    width: 50vw;
  }
  .about-workouts .about-workouts-bold {
    font-size: 1.4em;
  }

  .workout-type {
    font-size: 2.4em;
  }

  .personal-workouts .personal-workouts-header {
    font-size: 3.4em;
  }
}
.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em auto;
}
.contact-header .contact-h1 {
  font-size: 3em;
}
.contact-header .contact-h3 {
  margin: 1em auto;
  text-align: center;
}

.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-main .contact-form {
  width: 100%;
}
.contact-main .contact-form div input {
  width: 60vw;
  margin: 0.5em auto;
  height: 3em;
  font-size: 1em;
}
.contact-main .contact-form textarea {
  resize: none;
  width: 60vw;
  font-size: 1em;
}
.contact-main .contact-details {
  margin: 4em auto;
  font-size: 1.3em;
}

@media (min-width: 800px) {
  .contact-main {
    width: 100%;
    flex-direction: row;
  }
  .contact-main .contact-form div input {
    width: 40vw;
  }
  .contact-main .contact-form textarea {
    width: 40vw;
  }
  .contact-main .contact-details {
    width: 60vw;
    font-size: 1.5em;
    margin: auto 4em;
    padding-bottom: 4em;
  }
}
.about-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.about-main .about-photo {
  height: 100vh;
  background: url(/img/kacperbcg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-main .about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em;
  text-align: center;
}
.about-main .about-me-text .about-txt-header {
  margin: 2em auto;
  font-size: 2em;
}
.about-main .about-me-text .about-txt-header .horizontal-line {
  display: block;
  margin: 0 auto;
  width: 5em;
  height: 2px;
  background-color: #0A62D0;
}

.standard-btn {
  width: 50%;
  max-width: 300px;
  padding: 0.8em;
  margin-top: 1.5em;
  align-self: center;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  color: #E0E5E9;
  background-color: #0A62D0;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.standard-btn:hover {
  opacity: 1;
  width: 55%;
}

a {
  width: 100%;
}
a .standard-btn:hover {
  width: 55%;
}

.pricelist-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #0A62D0;
  width: 70vw;
  margin: 1em auto;
}
.pricelist-template div {
  margin: 1em auto;
}
.pricelist-template .pricelist-header {
  font-size: 1.7em;
  text-transform: uppercase;
}
.pricelist-template .price-tag {
  color: #0A62D0;
  font-size: 2em;
}
.pricelist-template .blue-horizontal-line {
  display: block;
  width: 50%;
  height: 1px;
  background-color: #F3D849;
}
.pricelist-template .training-duration {
  color: gray;
}
.pricelist-template .book-workout {
  margin: 1em auto;
}

@media (min-width: 900px) {
  .workout-flex {
    display: flex;
    justify-content: space-around;
  }
  .workout-flex .pricelist-template {
    width: 32vw;
    min-height: 60vh;
  }

  .workout-flex-two {
    display: flex;
    justify-content: space-around;
  }
  .workout-flex-two .pricelist-template {
    width: 28vw;
  }
}