.main-footer {
    background-color: $lightgray;
    margin-top: 4em;
}

.find-us {
    text-align: center;
    margin: 20px;
    padding-top: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.soclink {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    background-color: $blue;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 2.5em;
    margin: 10px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: $yellow;
        border: none;
    }
}

.soclink img {
    width: .9em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.copyright h5 {
    margin-top: 20px;
    text-align: center;
}

.copyright img {
    width: 1em;
}

@media(min-width: 550px) {
    .soclink {
        margin: .6em;
        padding: 1em;
    }

    .soclink img {
        width: 1.1em;
    }

    .find-us {
        font-size: 1.5em;
    }
}