.front-wrap {
    height: calc(100vh - 70px);
    width: 100%;
    background: url(/img/kacperbcg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .bcg-fogger {
        display: block;
        height: 100%;
        width: 100%;
        background-color: $blue;
        opacity: .2;
    }
}



.front-txt {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 30vh;
    color: $lightgray;


    h1 {
        padding: .4em;
        font-size: 2.5em;
        letter-spacing: .4em;
        font-family: $font-awesome;
        color: $lightgray;
    }

    h3 {
        padding: 1em;
        font-size: 1.4em;
    }
}

@media(min-width: 1200px) {

    .front-txt {
        h1 {
            font-size: 3.5em;
        }
    }
}