.gallery-wraper {
    height: 40vh;
    width: 100%;
    background: url(/img/bcg-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.how-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: $lightgray;
}

.how-header {
    font-size: 2em;
    margin-bottom: 1em;
}