.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;
    z-index: 1;
}

.brand-title {
    font-size: 1.5rem;
    margin-top: .7rem;
    width: 10em;

    img {
        margin: auto 2em;
        width: 100%;
    }
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: auto 2em;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    transition: .3s;

    &:hover {
        background-color: $lightgray;

    }

    a {
        display: block;
        text-decoration: none;
        color: $lightgray;
        padding: 1.8rem;
        font-size: 1.2em;

        &:hover {
            color: $blue;
        }
    }
}

.toggle-button {
    position: absolute;
    top: 2.4em;
    right: 6%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

    .bar {
        height: 3px;
        width: 100%;
        background-color: $lightgray;
        border-radius: 10px;
    }
}


@media (max-width: 1050px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;

        ul {
            width: 100%;
            flex-direction: column;

            li {
                text-align: center;


                a {
                    padding: .5rem 1rem;
                }
            }
        }
    }

    .navbar-links.active {
        display: flex;
    }
}