.stories-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.story {
    padding: 1em;
}

.stories-header {
    font-weight: $font-bold;
    font-size: 2em;
    text-transform: uppercase;
}

.dots {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    margin-top: 2em;
}

.quotation-wrap {
    width: 3em;
    margin: 2em 0 2em 0;
}

.quotation-svg {
    width: 100%;
}