.stories-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.story {
    padding: 1em;
}

.stories-header {
    margin: 1em auto;
    font-size: 1.7em;
    text-transform: uppercase;
}


.quotation-wrap {
    width: 3em;
}

.quotation-svg {
    width: 100%;
}

@media(min-width: 550px) {
    .stories-header {
        font-size: 2.5em;
    }

    .quotation-wrap {
        width: 2.5em;
    }
}

@media(min-width: 1200px) {
    .stories-header {
        font-size: 3em;
    }

    .quotation-wrap {
        width: 3.3em;
    }
}