.stories-slider {
    position: relative;
    background-color: $lightgray;
    height: 77vh;

    .stories {
        display: flex;
        flex-direction: column;

        .story-text {
            text-align: center;
            padding: 1em;
            font-size: 1.1em;
            margin: 0 auto;
        }

        .story-author {
            text-align: center;
            color: $blue;
        }
    }

    .slider-buttons {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%);

        .vertical-line {
            display: block;
            margin-top: 5px;
            width: 2px;
            height: 60px;
            background-color: $yellow;
        }

        .slider-button {
            border: solid $blue;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 1em;
            margin: 1em;
            cursor: pointer;
        }

        .disabled-btn {

            opacity: 0.4;
            cursor: default;
            pointer-events: none;
        }

        .slider-button-prev {
            transform: rotate(135deg)
        }

        .slider-button-next {
            transform: rotate(-45deg)
        }
    }
}

@media(min-width: 550px) {
    .stories-slider {
        height: 70vh;
    }

    .story-text {
        font-size: 1.1em;
        width: 80vw;
    }
}

@media(min-width:850px) {
    .stories-slider {
        height: 60vh;
    }
}

@media(min-width: 1200px) {
    .stories-slider {
        height: 48vh;
    }

    .story-text {
        width: 60vw;
        font-size: 1.3em;
    }
}

@media(min-width:1700px) {
    .stories-slider {
        height: 40vh;
    }

    .story-text {
        width: 50vw;
        font-size: 1.8em;
    }

    .story-author {
        font-size: 1.7em;
    }
}