.standard-btn {
    width: 50%;
    max-width: 300px;
    padding: .8em;
    margin-top: 1.5em;
    align-self: center;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    color: $lightgray;
    background-color: $blue;
    opacity: .9;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;

    &:hover {
        opacity: 1;
        width: 55%
    }
}

a {

    width: 100%;

    .standard-btn {
        &:hover {
            width: 55%;
        }
    }
}