 .standard-btn {
     width: 50%;
     padding: .8em;
     align-self: center;
     border: none;
     border-radius: 10px;
     font-size: 1.2em;
     color: $lightgray;
     background-color: $blue;
     opacity: .9;
     cursor: pointer;
     transition: .3s;

     &:hover {
         opacity: 1;
         width: 55%
     }
 }