// font

$font-stack: 'Poppins',
sans-serif;

// font-weights

$font-light: 300;
$font-normal: 400;
<<<<<<< Updated upstream
$font-bold: 700;
=======
$font-bold: 500;

$line-height: 2em;
>>>>>>> Stashed changes
